.center {
    margin: 0 auto;
    display: block;
}

.black {
    color: black
}

.medium-wide {
    max-width: 34em;
}

.narrow {
    max-width: 27em;
}

.bb {
    box-sizing: border-box;
}

.lh1 {
    line-height: 1;
}

.lh2 {
    line-height: 1.15;
}

.lh3 {
    line-height: 1.25;
}

.lh4 {
    line-height: 1.35;
}

.lh5 {
    line-height: 1.45;
}

.lh6 {
    line-height: 1.5;
}

.font4 {
    font-size: 1.25rem;
}

.font5 {
    font-size: 1rem;
}

.font6 {
    font-size: .875rem;
}

.w5 {
    font-weight: 500;
}

.w6 {
    font-weight: 600;
}

.w7 {
    font-weight: 700;
}

.mw1 {
    max-width: 1rem
}

.mw2 {
    max-width: 2rem
}

.mw3 {
    max-width: 4rem
}

.mw4 {
    max-width: 8rem
}

.mw5 {
    max-width: 16rem
}

.mw6 {
    max-width: 32rem
}

.mw7 {
    max-width: 48rem
}

.mw8 {
    max-width: 64rem
}

.mw9 {
    max-width: 96rem
}

.rel {
    position: relative;
}

.pa1 {
    padding-top: .25rem;
}

.pa2 {
    padding-top: .5rem;
}

.pa3 {
    padding-top: .75rem;
}

.pa4 {
    padding-top: 1rem;
}

.pl1 {
    padding-left: .25rem;
}

.pl2 {
    padding-left: .5rem;
}

.pl3 {
    padding-left: .75rem;
}

.pl4 {
    padding-left: 1rem;
}

.pl5 {
    padding-left: 2rem;
}

.pr1 {
    padding-right: .25rem;
}

.pr2 {
    padding-right: .5rem;
}

.pr3 {
    padding-right: .75rem;
}

.pr4 {
    padding-right: 1rem;
}

.pr5 {
    padding-right: 2rem;
}

.pt1 {
    padding-top: 1rem;
}

.pt2 {
    padding-top: 2rem;
}

.pt3 {
    padding-top: 3rem;
}

.pt4 {
    padding-top: 4rem;
}

.pt5 {
    padding-top: 5rem;
}

.ptb {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ptb1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.mb4 {
    margin-bottom: 4rem;
}

.mb5 {
    margin-bottom: 5rem;
}

.wid30 {
    width: 30%;
}

.ml1 {
    margin-left: 1rem;
}

.dt {
    display: table;
}

.flex {
    display: flex;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.self-center {
    align-self: center;
}

.item-center {
    align-items: center;
}

.no-grow {
    flex-grow: 0;
}

.side-padded {
    padding-left: 2rem;
    padding-right: 2rem;
}

.top-padded {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.auto-side-margin {
    margin-right: auto;
    margin-left: auto;
}