@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');
body {
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    font-family: "Poppins";
}

html {
    line-height: 1.15;
}

section {
    position: relative;
    margin: 0 0;
    height: 600px;
    max-height: 700px;
}

article {
    color: black;
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header {
    box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
    border-bottom: 1px solid #d2d2d2;
    font-size: .875rem;
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 500px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

div {
    display: block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
}

button {
    font-family: "Poppins";
    display: inline-block;
    text-align: center;
    border: none;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.headline-highlight {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: black;
    margin-bottom: 2rem;
}

.headline-highlight::before {
    content: "";
    position: absolute;
    width: 108%;
    height: 100%;
    z-index: -1;
    left: -4%;
    top: -4%;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
}

.button-s {
    padding: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
}

.button-m {
    padding: 20px;
    min-width: 250px;
    text-decoration: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
}

.header-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 20px;
    font: white;
    background: rgb(32 101 136);
}

.header-section {
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.collaboration-div {
    padding: 0;
    margin: 0 auto;
    float: right;
}

.description-h3 {
    color: #ED1C24;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;
    display: block;
}

.description-p {
    color: rgb(135, 145, 156);
    margin: 0 auto;
}

.description-p em {
    color: rgb(208, 74, 73);
    font-style: normal;
}

.flex-icon {
    height: 2rem;
}

.service-box {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    width: 33%;
    float: left;
    margin: 0 auto;
}

#npm-span {
    color: black;
    letter-spacing: 0.015625em;
}

#search-icon {
    width: 15px;
    height: 15px;
}

#search-icon-span {
    background-color: #F2F2F2;
    padding-right: .25rem;
    height: 28px;
    padding-left: 1rem;
    padding-top: 14px;
    float: left;
    display: block;
}

#button-header-div {
    padding-left: 1rem;
    padding-right: 1rem;
}

#h2-amazing {
    font-size: 5rem;
    color: black;
    margin-block-end: 0.67em;
    margin-block-start: 0.67em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    font-weight: bold;
}

#npm-logo {
    width: 75px;
    flex-grow: 0;
    margin-right: 1rem;
}

#header-page {
    background-size: cover;
    background-image: url(../images/city-scape.svg);
}

#header-search {
    font-size: 14px;
    letter-spacing: 0px;
    border: none;
    height: 40px;
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 0;
    width: calc(100% - 46px);
    background-color: rgba(0, 0, 0, .05);
    position: relative;
    font-weight: 300;
    margin: 0;
    color: black;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace
}

#submit-search {
    width: 100px;
}

#search-form {
    display: flex;
}

#search-bar-div {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 50%;
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

#search-flex-div {
    flex-grow: 1;
}

#search-nowrap-div {
    white-space: nowrap;
}

#search-button {
    background-color: #fb3e44;
    font-family: "Poppins";
    letter-spacing: 0.3px;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

#plans-button {
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    background: #FB3B49;
    color: white;
}

#joinh-button {
    border: 1px solid #9a9a9a;
    background-color: transparent;
}

#login-button {
    background-color: transparent;
}

#join-button {
    background: white;
    color: black;
}

#sign-up-button {
    color: white;
    background-color: rgb(240, 146, 51);
}

#orgs-button {
    color: white;
    background-color: rgb(203, 56, 55);
}

#create-button {
    background: black;
    color: white;
    min-width: 250px;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
}

#install-button {
    background-color: rgb(49, 68, 88);
}

#collaboration {
    background-size: cover;
    background-image: url(../images/collaboration.svg);
    background-color: #273547;
}

#install {
    background-color: rgba(232, 217, 217, 0.3);
    text-align: center;
}

#description {
    background-color: white;
}

#description-div {
    text-align: center;
    max-width: 64rem;
    display: table;
}

#plans-join-div {
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

#hexagon {
    max-width: 16rem;
}

#flex-icon-row {
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}